.header1{
    /* background-color: #A9CCE3 ; */
    background-color: #1976d2;
}
.nav1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: black;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 16px;
  padding-bottom: 16px;
}
.searchdiv1{
  flex-grow:1;
}
.search1{
  
  padding: 12px;
  font-size: 18px;
  width: 100%;
  border-radius: 8px;

  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px; */
  /* padding-left: 4px; */
}
.signcart1{
  gap:16px;
  display: flex;

  /* justify-content: space-between; */
}
.sign1{
  background-color: inherit;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign1:hover{
  /* color:#595A5B; */
  color:#76B7F9;
}
.logo{
  font-weight: 800;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.Link{
  text-decoration: none;
  color:inherit;
}
 
  

  

